body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #135B7F;
}
#weekBox {
    background-color: #FFC857; 
    border: solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Roboto Slab';
    text-decoration-color: black;

}

.selector {
    width: 40px;
    font-size: 27px;
    font-family: 'Roboto Slab';
    background-color: #FFC857;
    color: black;
}

#goalsBox {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 55px;
}

.otherlabel {
    align-self: flex-start;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 25px;
    font-weight: 600;
  }


  .commentBox {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
  }

  form {
      display: flex;
      flex-wrap: wrap;
      
  }
  
  #Comment {
      padding-left: 25px;

  }

  #goalPercent {
      padding-left: 10px;
  }

  .commentBox {
      border:2px solid black;
      border-radius: 2px;
  }

  input[type=number] {
    width: 35px;
    height: 25px;
    font-size: 18px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    font-family: 'Roboto Slab';
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



  
