body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #135B7F;
}
#weekBox {
    background-color: #1672A0; 
    border: solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Roboto Slab';
    text-decoration-color: white;

}

.selector {
    width: 40px;
    font-size: 27px;
    font-family: 'Roboto Slab';
    background-color: #027dba;
    color: white;
}

#goalsBox {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.otherlabel {
    align-self: flex-start;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 100%;
    font-weight: 600;
  }


  .commentBox {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
  }

  form {
      display: flex;
      flex-wrap: wrap;
      
  }
  
  #Comment {
      padding-left: 10px;
  }

  #goalPercent {
      padding-left: 10px;
  }